# Data Science in Psychology & Neuroscience (DSPN): 

## Lecture 10. Data Wrangling (part 2)

### Date: September 26, 2023

### To-Dos From Last Class:

* Download data for today's wrangling session #1 dataset from <a href="https://github.com/hogeveen-lab/DSPN_Fall2022_Git/tree/master/misc_exercises/imitation_inhibition_paradigm">Github</a>

### Today:

* Wrangle some real data

### Homework

* Download <a href="https://github.com/hogeveen-lab/DSPN_Fall2023_Git/tree/main/assignment_starters/assign3_starter">Assignment #3 starter kit</a>

# Data wrangling in Pandas

## (finishing from last class) 5. Combining Data Sets 

<img src="img/combining_data.png" width="600">

In [1]:
import pandas as pd
import numpy as np

# creating random integer lists to populate made up data frames
x = np.random.randint(10,20,3)
y = np.random.randint(20,30,3)

# putting together some example data frames
df1 = pd.DataFrame({'pid' : ['P1','P2','P3'],
                   'var1' : [x[0],x[1],x[2]]})
# display(df1)
df2 = pd.DataFrame({'pid' : ['P1','P2','P4'],
                   'var2' : [y[0],y[1],y[2]]})
# display(df2)

# Standard merge approach #1
print('Merge LEFT (right --> left; lose unique rows from the RIGHT df)')
merge_left = pd.merge(df1,df2,on='pid',how='left')
display(merge_left)

# Standard merge approach #2
print('Merge RIGHT (left --> right; lose unique rows from the LEFT df)')
merge_right = pd.merge(df1,df2,on='pid',how='right')
display(merge_right)

# Standard merge approach #3
print('Merge INNER (lose unique data from BOTH dfs)')
merge_inner = pd.merge(df1,df2,on='pid',how='inner')
display(merge_inner)

# Standard merge approach #4
print('Merge OUTER (retain ALL the data)')
merge_outer = pd.merge(df1,df2,on='pid',how='outer')
display(merge_outer)

Merge LEFT (right --> left; lose unique rows from the RIGHT df)

  pid  var1  var2
0  P1    12  28.0
1  P2    15  22.0
2  P3    10   NaN

Merge RIGHT (left --> right; lose unique rows from the LEFT df)

  pid  var1  var2
0  P1  12.0    28
1  P2  15.0    22
2  P4   NaN    20

Merge INNER (lose unique data from BOTH dfs)

  pid  var1  var2
0  P1    12    28
1  P2    15    22

Merge OUTER (retain ALL the data)

  pid  var1  var2
0  P1  12.0  28.0
1  P2  15.0  22.0
2  P3  10.0   NaN
3  P4   NaN  20.0

## Tangent: Because R.T. Asked some great questions recently!

### 1. How to generate random lists withOUT replacement

In [2]:
import random

y = np.random.randint(20,30,3)
z = random.sample(range(20,30),3)

print(y,z)

[23 26 20] [23, 27, 20]

### 2. How to pivot wide with grouping variables as columns, NOT indices

In [3]:
# What if we have some variable(s) we DON't want to lengthen?
df_with_group = pd.DataFrame({'pid': [1,2,3,4],
                              'grp' : [1, 1, 2, 2],
                              'var1' : [4, 5, 6, 7],
                              'var2' : [8, 9, 10, 11],
                              'var3' : [12, 13, 14, 15]})
df_long = pd.melt(df_with_group,id_vars=['pid','grp'])
display(df_long)

df_wide = df_long.pivot(index=['pid','grp'], columns='variable', values='value')
display(df_wide)
df_wide_reset = df_wide.reset_index().rename_axis(None,axis=1)
display(df_wide_reset)

    pid  grp variable  value
0     1    1     var1      4
1     2    1     var1      5
2     3    2     var1      6
3     4    2     var1      7
4     1    1     var2      8
5     2    1     var2      9
6     3    2     var2     10
7     4    2     var2     11
8     1    1     var3     12
9     2    1     var3     13
10    3    2     var3     14
11    4    2     var3     15

variable  var1  var2  var3
pid grp
1   1        4     8    12
2   1        5     9    13
3   2        6    10    14
4   2        7    11    15

   pid  grp  var1  var2  var3
0    1    1     4     8    12
1    2    1     5     9    13
2    3    2     6    10    14
3    4    2     7    11    15

# Wrangle some real data

<img src="img/imit_inhib_fileorg.png" width=500>

## Breaking into 8 code chunks
## 1. Import packages

## 2. Setting paths to the first level data

## 3. Load a test subject to make sense of things

## 4. Iterate through to load the first level data
###    * Concatenate all together to create one data frame to rule them all

## 5. Merge with questionnaire data

## 6. Write to trial-level allsubjects csv

#### Pick up next class..
7. Compute summary measures
8. Save to summary allsubjects csv