# Data Science in Psychology & Neuroscience (DSPN): 

## Lecture 9. Data Wrangling (part 1)

### Date: September 21, 2023

### To-Dos From Last Class:

* Submit Assignment #2: <a href="https://www.dropbox.com/request/gzkRwmYMySDWiUddKMCu">Integrate & Fire</a> (before 9/21, 23:00 MDT)

### Today:

* What is data wrangling?
* What is Pandas?
* Data wrangling in Pandas (stealing heavily from this <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Cheatsheet</a>)
    1. Creating a data frame
    2. Reshaping
    3. Subsetting
    4. Adding columns
    5. Combining data frames

### Homework

* Download data for next class' wrangling session from <a href="https://github.com/hogeveen-lab/DSPN_Fall2023_Git">Github</a> --> misc/imitation_inhibition_paradigm

# What is data wrangling?

<img src="img/data_wrangling_schematic.png" width="600">

<img src="img/lotr.gif">

# What is Pandas?

* A data wrangling _package_ for Python
    * Takes a lot of what is good about R and brings it into a Python general-purpose programming env

<img src="img/pandas.jpeg" width="650">

## What does this mean?

* Tidy data
    * General organizational structure used to hold and manipulate data objects used in R and Pandas
    
<img src="img/tidy_data.png" width="650">

* This enables you to perform __vectorized operations__ on your data
    * Pandas (and tidyverse/dplyr in R) preserve your observations while you run those operations
    
<img src="img/tidy_data_vectorized_operations.png" width="450">

# Data Wrangling in Pandas

## 1. Creating DataFrames

In [2]:
# Importing and naming the package
import pandas as pd

# creating a data frame from scratch (assign values by column)
df = pd.DataFrame({'var1' : [4, 5, 6],
                   'var2' : [7, 8, 9],
                   'var3' : [10, 11, 12]},
                  index=['obs1','obs2','obs3']) # run with and wihtout index
print(df)

# creating a data frame from scratch (assign values by row)
df_byrow = pd.DataFrame([[4,7,10],
                  [5,8,11],
                  [6,9,12]],
                  index=['obs1','obs2','obs3'],
                  columns=['var1','var2','var3'])
print(df_byrow)

# # most often...
# filepath = '~/Desktop/filtdf.csv'
# df_real = pd.read_csv(filepath)
# print(df_real)

      var1  var2  var3
obs1     4     7    10
obs2     5     8    11
obs3     6     9    12
      var1  var2  var3
obs1     4     7    10
obs2     5     8    11
obs3     6     9    12

## 2. Reshaping data

### Melt (i.e. go from wide to long)

<img src="img/melt.png" width="400">

In [16]:
print(df)
df_long = pd.melt(df)#,var_name='Variables', value_name='Observations'
print(df_long) 

# What if we have some variable(s) we DON't want to lengthen?
df_with_group = pd.DataFrame({'pid': [1,2,3,4],
                              'grp' : [1, 1, 2, 2],
                              'var1' : [4, 5, 6, 7],
                              'var2' : [8, 9, 10, 11],
                              'var3' : [12, 13, 14, 15]})
print(df_with_group)
print(pd.melt(df_with_group))
print(pd.melt(df_with_group,id_vars=['pid','grp']))

   pid  grp  var1  var2  var3
0    1    1     4     8    12
1    2    1     5     9    13
2    3    2     6    10    14
3    4    2     7    11    15
   variable  value
0       pid      1
1       pid      2
2       pid      3
3       pid      4
4       grp      1
5       grp      1
6       grp      2
7       grp      2
8      var1      4
9      var1      5
10     var1      6
11     var1      7
12     var2      8
13     var2      9
14     var2     10
15     var2     11
16     var3     12
17     var3     13
18     var3     14
19     var3     15
    pid  grp variable  value
0     1    1     var1      4
1     2    1     var1      5
2     3    2     var1      6
3     4    2     var1      7
4     1    1     var2      8
5     2    1     var2      9
6     3    2     var2     10
7     4    2     var2     11
8     1    1     var3     12
9     2    1     var3     13
10    3    2     var3     14
11    4    2     var3     15

### Pivot (i.e. go from long to wide)

<img src="img/pivot.png" width="600">

In [25]:
df_long = pd.melt(df_with_group,id_vars=['pid','grp'])
print(df_long)

df_wide = df_long.pivot(index=['pid','grp'], columns='variable', values='value')
print(df_wide)

    pid  grp variable  value
0     1    1     var1      4
1     2    1     var1      5
2     3    2     var1      6
3     4    2     var1      7
4     1    1     var2      8
5     2    1     var2      9
6     3    2     var2     10
7     4    2     var2     11
8     1    1     var3     12
9     2    1     var3     13
10    3    2     var3     14
11    4    2     var3     15
variable  var1  var2  var3
pid grp
1   1        4     8    12
2   1        5     9    13
3   2        6    10    14
4   2        7    11    15

## 3. Subsetting Data

### Filter (i.e. subset rows)

<img src="img/filter.png" width="600">

In [27]:
print(df_wide)

print(df_wide[df_wide.var2>=10])

print(df_wide[(df_wide.var2>=10) & (df_wide.var3<15)])

variable  var1  var2  var3
pid grp
1   1        4     8    12
2   1        5     9    13
3   2        6    10    14
4   2        7    11    15
variable  var1  var2  var3
pid grp
3   2        6    10    14
4   2        7    11    15
variable  var1  var2  var3
pid grp
3   2        6    10    14

### Select (i.e. subset columns)

<img src="img/select.png" width="600">

In [36]:
print(df_long)

print(df_long[['pid','value']])

print(df_long.loc[:,'variable':'value'])

print(df_long.iloc[:,[2,3]])

    pid  grp variable  value
0     1    1     var1      4
1     2    1     var1      5
2     3    2     var1      6
3     4    2     var1      7
4     1    1     var2      8
5     2    1     var2      9
6     3    2     var2     10
7     4    2     var2     11
8     1    1     var3     12
9     2    1     var3     13
10    3    2     var3     14
11    4    2     var3     15
    pid  value
0     1      4
1     2      5
2     3      6
3     4      7
4     1      8
5     2      9
6     3     10
7     4     11
8     1     12
9     2     13
10    3     14
11    4     15
   variable  value
0      var1      4
1      var1      5
2      var1      6
3      var1      7
4      var2      8
5      var2      9
6      var2     10
7      var2     11
8      var3     12
9      var3     13
10     var3     14
11     var3     15
   variable  value
0      var1      4
1      var1      5
2      var1      6
3      var1      7
4      var2      8
5      var2      9
6      var2     10
7      var2     11
8      var3     12
9      var3     13
10     var3     14
11     var3     15

## 4. Making New Columns

In [37]:
df_wide['diff'] = df_wide['var3'] - df_wide['var1']
print(df_wide)

variable  var1  var2  var3  diff
pid grp
1   1        4     8    12     8
2   1        5     9    13     8
3   2        6    10    14     8
4   2        7    11    15     8

## 5. Combining Data Sets

<img src="img/combining_data.png" width="600">

In [43]:
import numpy as np

df1 = pd.DataFrame({'pid' : ['P1','P2','P3'],
                    'var1' : [np.random.randint(25,75), np.random.randint(25,75), np.random.randint(25,75)]})
print(df1)

df2 = pd.DataFrame({'pid' : ['P1','P2','P4'],
                    'var2' : [np.random.randint(25,75), np.random.randint(25,75), np.random.randint(25,75)]})
print(df2)

### Standard approach #1 -- join matching rows from df2 to df1
print(pd.merge(df1,df2,how='left',on='pid'))

### Standard approach #2 -- join matching rows from df1 to df2
print(pd.merge(df1,df2,how='right',on='pid'))

### Standard approach #3 -- retain rows present in BOTH dfs
print(pd.merge(df1,df2,how='inner',on='pid'))

### Standard approach #4 -- retain rows present in ANY dfs
print(pd.merge(df1,df2,how='outer',on='pid'))

  pid  var1
0  P1    71
1  P2    69
2  P3    57
  pid  var2
0  P1    56
1  P2    51
2  P4    65
  pid  var1  var2
0  P1    71  56.0
1  P2    69  51.0
2  P3    57   NaN
  pid  var1  var2
0  P1  71.0    56
1  P2  69.0    51
2  P4   NaN    65
  pid  var1  var2
0  P1    71    56
1  P2    69    51
  pid  var1  var2
0  P1  71.0  56.0
1  P2  69.0  51.0
2  P3  57.0   NaN
3  P4   NaN  65.0